$primaryColor: #b1bcbd;
$mainColor: #4880ff;
$primaryColorLighterLv1: #e7eeff;
$primaryColorLighterLv2: #e7eeff;

$secondaryColor: #000;
$variantsColor: #995effd5;

// Snackbar
$snackbarSuccess: #995effd5;

// Text
$sidebarText: #232323;
$GPEblueText: #2f6bff;
$GPEMainText: #4880ff;
$GPEdarkText: #404040;
$GPEgrayText: #565656;
$GPEstatusText: #69b948;
