$primaryColor: #b1bcbd;
$mainColor: #4880ff;
$primaryColorLighterLv1: #e7eeff;
$primaryColorLighterLv2: #e7eeff;
$primaryWhite: #ffffff;
$primaryText: #4880ff;
$primaryBlack: #202224;
$primaryLabel: #606060;
$disableText: #A6A6A6;

$secondaryColor: #000;
$variantsColor: #995effd5; 
$dangerColor: #dc3545; 

// Snackbar
$snackbarSuccess: #995effd5;

// Text
$sidebarText: #232323;
$GPEblueText: #2f6bff;
$GPEMainText: #4880ff;
$GPEdarkText: #404040;
$GPEgrayText: #565656;
$GPEstatusText: #69b948;
$GPEdetailData: #444444;
$GPEinputText: #2e2e2e;
$GPEaddLink: #1397e3;
