$primaryColor: #b1bcbd;
$primaryColorLighterLv1: #b1bcbda3;
$primaryColorLighterLv2: #b1bcbd77;

$secondaryColor: #000;
$variantsColor: #995effd5;

// Snackbar
$snackbarSuccess: #995effd5;

// Text
$sidebarText: #232323;
