@import "./variables";
@import "./button";
@import "./display";
@import "./flex";
@import "./spacing";
@import "./text";
@import "./mixin";
//  LAYOUT
body {
 * {
  font-family: "Roboto";
 }
}
.container-t {
 width: calc(100vw - 200px);
 margin: auto;
}
.container-fluid-t {
 width: 100%;
}
// ******--------

// HELPERS
.pointer {
 cursor: pointer !important;
}
.bg-transparent {
 background-color: transparent !important;
}
.bg-white {
 background-color: #fff !important;
}
.header-sticky-table {
 .v-data-table__wrapper {
  height: 100%;
  overflow-y: scroll;
 }
 thead {
  position: sticky;
  top: 0;
  z-index: 3;
 }
}
.header-no-border-table {
 th {
  border-bottom: none !important;
 }
}
.table-scroll-y {
 .v-data-table__wrapper {
  &::-webkit-scrollbar {
   width: 5px;
   height: 6px;
  }

  &::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
   border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
   border-radius: 10px;
   background: rgba(0, 0, 0, 0.48);
  }
 }
}
.grow-unset {
 flex-grow: unset !important;
}

.snackbar-on-success {
 .v-snack__wrapper {
  background-color: $snackbarSuccess !important;
  .snackbar-btn-close {
   color: #fff !important;
  }
 }
}
.table-on-loading {
 .v-data-table__wrapper {
  position: relative;
  &::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(170, 168, 166, 0.289);
   z-index: 2;
  }
 }
}
// ******--------
// TABLE
.w-max-content{
    display: inline-block;
    width: max-content;
}
.v-data-table.table-modify-css{
    box-shadow: unset ;
    border:unset ;
    table{
        thead{
            tr{
                th{
                    background-color: #E7EEFF;
                    &:not(:last-child){
                        border-right: 1px solid #ffffff;
                    }
                    span{
                        color: #202224;
                        font-size: 14px;
                        font-weight: 700;
                        display: inline-block;
                        width: max-content;
                    }
                }
            }
        }
        tbody{
            tr{
                &.filter-prepend-body{
                    background-color: #ffffff ;
                    height: 72px;
                    .v-input__slot,
                    .date-range-slot-wrapper-tb{
                        border-color: #5484FA !important;
                        font-size: 14px !important;
                        color: #202224 !important;
                        height: 40px;
                        font-weight: 400;
                        label{
                            font-size:14px !important;
                            color: #202224 ;
                            font-weight: 400;
                        }
                    }
                }
                font-size: 14px !important;
                color: #202224 !important;
                height: 40px;
                font-weight: 400;
                td{
                    border-bottom:1px solid #D5D5D5 !important;
                }
            }
        }
    }
}
// BUTTON
.buton-primary{
    background-color: #4880FF   !important;
    border:2px solid #4880FF!important; 
    box-shadow: unset !important;
    span{
        color: #FFFFFF !important; 
    }
}
.buton-secondary{
    background-color: #FFFFFF !important;
    border:1px solid #4880FF !important; 
    box-shadow: unset !important;
    span{
        color: #4880FF !important; 
    }
}

// REPONSIVE
@import "./reponsive/reponsive_main.scss";
// ******--------
